
<h1>My tasks</h1>
<form>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <input type="checkbox" checked ><%= link_to task.title, task_path(task) %><br>
      <% else %>
      <input type="checkbox"><%= link_to task.title, task_path(task) %><br>
    <% end %>
  <% end %>
</form>




